@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --darkBlue: #2A324B;
    --lightBlue: #58699D;
    --grey: #E1E5EE; 
    --white: #fff;
}