@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --darkBlue: #2A324B;
    --lightBlue: #58699D;
    --grey: #E1E5EE; 
    --white: #fff;
}

body {
    background-color: var(--grey);
    font-family: "Montserrat", sans-serif;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0;
    margin-top: 100px;
    margin-bottom: 0;
}

nav button {
    background-color: var(--darkBlue);
    color: var(--white);
    border: none;
    padding: 1rem 3.78rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

main {
    padding: 2rem;
    max-width: 1000px;
    min-height: 300px;
    margin: 0 auto;
    background-color: var(--white);
}